---
import Layout from "../layouts/Layout.astro";
import CardProduct from "../components/CardProduct.astro";
import listOfProducts from "../config/listOfProducts";
import Ticket from "../components/Ticket.astro";
---

<Layout title="Cafe/Bar La Fontanina">
	<main>
		<h1><span class="text-gradient">La Fontanina</span></h1>
		<button type="button" data-clear-ticket>Borrar Ticket</button>
		<ul class="list-of-products">
			{
				listOfProducts.map((product) => (
					<CardProduct
						name={product.name}
						price={product.price}
						img={product.img}
					/>
				))
			}
		</ul>
		<Ticket />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
		padding-bottom: calc(var(--min-height-ticket) + 30px);
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}

	.list-of-products {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>

<script src="../js/calculator.js"></script>
