---
---

<section
    class="text-white ticket fixed z-[200] left-[50%] bottom-4 min-h[90px] p-2 bg-lf-green bg-[400%] rounded-xl flex items-center flex-row justify-between w-[300px] -translate-x-1/2"
>
    <h2>Ticket</h2>
    <output class="total-price"><span data-ticket>00</span>€</output>
</section>

<style>
    .ticket {
        background-position: 100%;
        transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
            0 2px 4px -2px rgba(0, 0, 0, 0.1);
    }
    .total-price {
        font-size: 3rem;
    }
</style>
